h1{
    color: rgba(250, 216, 104, 0.504);
}

h6{
    padding-right: 15%;
}

ul{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

ul > li{
    padding: 7px 12px;
    padding-left: 41%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

ul > li > i{
    border: 0px solid green;
    padding: 2px 15px;
    padding-left: 10%;
    color: red;
    font-size: 1.5rem;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all .3s;
}

ul > li > i:hover{
    opacity: 1;
}